body .mobile-style {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url("../img/bg.jpg") no-repeat center center;
  background-size: cover; }
  body .mobile-style .mobile {
    position: relative;
    width: 270px;
    height: 480px;
    background: black;
    margin: 0 auto; }
    body .mobile-style .mobile .top {
      position: absolute;
      width: 100%;
      height: 50px;
      top: -50px;
      background: #efefef;
      border-top-left-radius: 40px;
      border-top-right-radius: 40px; }
      body .mobile-style .mobile .top::before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 35%;
        transform: translateY(-50%);
        width: 5px;
        height: 5px;
        background: #ccc;
        border: 2px solid #aaaaaa;
        border-radius: 50%;
        box-shadow: 0 0 0 1px #999; }
      body .mobile-style .mobile .top::after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 40px;
        height: 5px;
        background: #333;
        border: 2px solid #aaaaaa;
        border-radius: 3px; }
    body .mobile-style .mobile .bottom {
      position: absolute;
      width: 100%;
      bottom: -50px;
      height: 50px;
      background: #efefef;
      border-bottom-left-radius: 40px;
      border-bottom-right-radius: 40px; }
      body .mobile-style .mobile .bottom::before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 15px;
        height: 15px;
        border: 2px solid #999999;
        cursor: pointer;
        border-radius: 6px; }
    body .mobile-style .mobile .screen {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;
      display: flex;
      justify-content: center; }
      body .mobile-style .mobile .screen.active .image {
        opacity: 1; }
      body .mobile-style .mobile .screen.active h2 {
        opacity: 1;
        transition-delay: .5s;
        transform: translateY(30px); }
      body .mobile-style .mobile .screen.active nav ul li {
        opacity: 1;
        transition-delay: .5s;
        transform: translateY(0px); }
        body .mobile-style .mobile .screen.active nav ul li .fas:hover, body .mobile-style .mobile .screen.active nav ul li .fab:hover {
          transform: translateY(-10px); }
      body .mobile-style .mobile .screen.active nav ul li:nth-child(2) {
        transition-delay: .7s; }
      body .mobile-style .mobile .screen.active nav ul li:nth-child(3) {
        transition-delay: .9s; }
      body .mobile-style .mobile .screen.active nav ul li:nth-child(4) {
        transition-delay: 1.1s; }
      body .mobile-style .mobile .screen::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: -50%;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.1);
        z-index: 1;
        transform: skewX(-5deg); }
      body .mobile-style .mobile .screen .image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0;
        transition: .5s all ease-in-out; }
      body .mobile-style .mobile .screen h2 {
        color: #ffffff;
        font-weight: 200;
        font-size: 3.5em;
        z-index: 1;
        transform: translateY(50px);
        line-height: .4em;
        transition: .5s all ease-in-out;
        text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
        opacity: 0; }
        body .mobile-style .mobile .screen h2 span {
          font-size: .4em; }
      body .mobile-style .mobile .screen nav ul {
        position: absolute;
        margin: 0;
        padding: 0;
        left: 0;
        bottom: 0;
        display: flex;
        z-index: 1;
        justify-content: space-around;
        width: 100%; }
        body .mobile-style .mobile .screen nav ul li {
          list-style-type: none;
          font-size: 1.5em;
          color: #ffffff;
          padding-bottom: 10px;
          transition: .5s all ease-in-out;
          cursor: pointer;
          opacity: 0;
          transform: translateY(20px); }
          body .mobile-style .mobile .screen nav ul li .fas, body .mobile-style .mobile .screen nav ul li .fab {
            transition: .5s all ease-in-out;
            transform: translateY(0px); }

.rotate-square {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; }
  .rotate-square .rotate-square-loader {
    position: relative;
    width: 50px;
    height: 50px;
    background: #000000;
    box-sizing: border-box;
    margin: 0 auto;
    animation: rotate 1s linear infinite; }
    .rotate-square .rotate-square-loader::before, .rotate-square .rotate-square-loader .square::before {
      content: '';
      display: block;
      position: absolute;
      top: 2px;
      left: 2px;
      right: 2px;
      bottom: 2px;
      background: #fff; }
    .rotate-square .rotate-square-loader .square {
      position: absolute;
      width: 100%;
      height: 100%;
      background: #000000;
      animation: animate 1s linear infinite; }
      .rotate-square .rotate-square-loader .square.one {
        top: -100%;
        left: -2px;
        transform-origin: bottom right; }
        .rotate-square .rotate-square-loader .square.one::before {
          background: #1abc9c; }
      .rotate-square .rotate-square-loader .square.two {
        right: -100%;
        top: -2px;
        transform-origin: bottom left; }
        .rotate-square .rotate-square-loader .square.two::before {
          background: #2ecc71; }
      .rotate-square .rotate-square-loader .square.three {
        bottom: -100%;
        left: 2px;
        transform-origin: top left; }
        .rotate-square .rotate-square-loader .square.three::before {
          background: #3498db; }
      .rotate-square .rotate-square-loader .square.four {
        left: -100%;
        top: 2px;
        transform-origin: top right; }
        .rotate-square .rotate-square-loader .square.four::before {
          background: #9b59b6; }

@keyframes animate {
  0% {
    transform: rotate(0deg); }
  50%, 100% {
    transform: rotate(180deg); } }

@keyframes rotate {
  0% {
    transform: rotate(90deg); }
  50%, 100% {
    transform: rotate(0deg); } }

section.layer-3d-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%; }
  section.layer-3d-image .layer-3d {
    width: 250px;
    height: 480px;
    position: relative;
    margin-top: 150px;
    margin: 0 auto;
    transform: rotate(-30deg) skew(25deg);
    transition: .5s all ease-in-out; }
    section.layer-3d-image .layer-3d .image {
      position: absolute;
      max-width: 100%;
      height: 100%;
      transition: .5s all ease-in-out; }
    section.layer-3d-image .layer-3d:hover .image:nth-child(4) {
      transform: translate(160px, -160px);
      opacity: 1; }
    section.layer-3d-image .layer-3d:hover .image:nth-child(3) {
      transform: translate(120px, -120px);
      opacity: .8; }
    section.layer-3d-image .layer-3d:hover .image:nth-child(2) {
      transform: translate(80px, -80px);
      opacity: .6; }
    section.layer-3d-image .layer-3d:hover .image:nth-child(1) {
      transform: translate(40px, -40px);
      opacity: .4; }

.scroll-down {
  background: #000000;
  height: 100vh;
  position: relative; }
  .scroll-down .container {
    height: 100vh; }
    .scroll-down .container .row {
      height: 100vh; }
      .scroll-down .container .row .col {
        height: 100vh; }
        .scroll-down .container .row .col .indicator-animation {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%); }
          .scroll-down .container .row .col .indicator-animation span {
            display: block;
            width: 50px;
            height: 50px;
            border-bottom: 1px solid #ffffff;
            border-right: 1px solid #ffffff;
            transform: rotate(45deg);
            margin: -10px;
            animation: animate-rotate 2s infinite; }
            .scroll-down .container .row .col .indicator-animation span:nth-child(1) {
              animation-delay: .2s; }
            .scroll-down .container .row .col .indicator-animation span:nth-child(2) {
              animation-delay: .4s; }
            .scroll-down .container .row .col .indicator-animation span:nth-child(3) {
              animation-delay: .6s; }
            .scroll-down .container .row .col .indicator-animation span:nth-child(4) {
              animation-delay: .8s; }

@keyframes animate-rotate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px); }
  50% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px); } }

.ring-loader {
  background: #636e72;
  height: 100vh;
  position: relative; }
  .ring-loader .container {
    height: 100vh; }
    .ring-loader .container .row {
      height: 100vh; }
      .ring-loader .container .row .col {
        height: 100vh; }
        .ring-loader .container .row .col .ring {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          height: 300px;
          width: 300px;
          background: transparent;
          border: 3px solid #3c3c3c;
          border-radius: 50%;
          text-align: center;
          line-height: 300px;
          font-size: 30px;
          color: #fff000;
          letter-spacing: 10px;
          text-transform: uppercase;
          text-shadow: 0 0 10px #fff000;
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); }
          .ring-loader .container .row .col .ring::before {
            content: '';
            display: block;
            position: absolute;
            top: 0px;
            left: 0;
            height: 100%;
            width: 100%;
            border: 3px solid transparent;
            border-top: 3px solid #fff000;
            border-right: 3px solid #fff000;
            border-radius: 50%;
            animation: animateCircle 2s linear infinite; }
          .ring-loader .container .row .col .ring span {
            display: block;
            position: absolute;
            top: calc( 50% - 2px);
            left: 50%;
            width: 50%;
            height: 4px;
            background: transparent;
            transform-origin: left;
            animation: animateDot 2s linear infinite; }
            .ring-loader .container .row .col .ring span::before {
              content: '';
              position: absolute;
              width: 16px;
              height: 16px;
              border-radius: 50%;
              background: #fff000;
              top: -6px;
              right: -8px;
              box-shadow: 0 0 20px #fff000; }

@keyframes animateCircle {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes animateDot {
  0% {
    transform: rotate(45deg); }
  100% {
    transform: rotate(405deg); } }
